@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    background: url('sebastian-svenson-LpbyDENbQQg-unsplash.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
/* #cv-form{ 
    display: none;
 } */

#cv-template{
    display: none;
 }
.myimg{
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 200px;
}

.background{
    background-color: #5a7695;
}
.color-bg{
    background-color: #5a7695;
}